<h1>Editing level</h1>

<% form_for(@level, :url => admin_level_path) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', admin_level_path(@level) %> |
<%= link_to 'Back', admin_levels_path %>